# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
.idea/
.project
.settings
public/
composer.lock
vendor/
cache/
config/system.php